#clusterContainer{
    width: 100%;
    margin: 0;
    padding: 0;
}

#clusterMap{
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    height: 300px;
}

.alert{
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 4%;
    z-index: 1;
}

.card{
    scale: 0.85;
}

